$width:1120px;
$margin:0 auto;
.top-wrap{
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
    height: 30px;
    line-height: 30px;
}   
.top{
    width: $width;
    margin: 0 auto;
    color: #999;
}
.header{
    position: relative;
    width: $width;
    margin:$margin;
    height: 110px;
    .logo-wrap{
        position: relative;
        z-index: 12;
        float: left;
        width: 362px;
        height: 60px;
        padding: 20px 0;
        .logo{float: left;
            display: block;
            width: 270px;
            height: 60px;
            background: url(//misc.360buyimg.com/jdf/1.0.0/unit/global-header/1.0.0/i/jdlogo-201708-@1x.png) no-repeat 0 0;
            text-indent: -20000px;
        }
        select{
        
            float: left;
            color: #666;
            font-size: 12px;
            font-weight: 400;
            position: absolute;
            height: 27px;
            font-family: simsun;
            right: 95px;

            margin-top: 15px;
        }
    }
  
        .form{
            position: absolute;
            left: 400px;
            top: 25px;
            width: 486px;
            height: 32px;
            border: 2px solid #e2231a;
            background: #fff;
            background: transparent;
            
        }
        .search-txt{
            left: 0;
            padding: 2px 44px 2px 17px;
            width: 367px;
            height: 26px;
            border: 1px solid transparent;
            line-height: 26px;
            font-size: 12px;
            position: absolute;
            top: 0;
            outline: none;
            color: #333;
            background: transparent;
           
        }
        i{
            position: absolute;
            width: 19px;
            height: 20px;
            right: 72px;
            top: 5px;
             /* overflow: hidden; */
             >a{
                display:inline-block;
                position: absolute;
                font-size: 15px;
                transform: scale(1.26,1.1);
                color: #666;
                :hover{
                    color: red;
                }
            }
        }
        .btn{
            float: right;
           width: 52px;
            height: 36px;
            background: #474e5c;
            border: none;
            border-radius: 0;
            line-height: 1;
            color: #fff;
            font-family: "Microsoft YaHei";
            font-size: 12px;
            padding: 0px 8px;
            margin-top: -1px;margin-right: -2px;
            cursor: pointer;
            :hover{
                background: #474e5c;
            }
            .span{
                display: inline-block;
                font-size: 12px;
               
            } 
           
        }
        .btn2{
            float: right;
           width: 52px;
            height: 36px;
            background: #B61D1D;
            border: none;
            border-radius: 0;
            line-height: 1;
            color: #fff;
            font-family: "Microsoft YaHei";
            font-size: 12px;
            padding: 0px 8px;
            margin-top: -1px;margin-right: -2px;
            cursor: pointer;
            :hover{
                background-color: #c81623;
            }
            .span{
                display: inline-block;
                font-size: 12px;
               
            } 
           
        }
        .shopCart{
            width: 130px;
            height: 34px;
            position: absolute;
            top: 25px;
            right: 10px;
            cursor: pointer;
            line-height: 34px;
            text-align: center;
            padding-bottom: 2px;
            float: left;
            border: 1px solid #ddd;
            box-shadow: 0 0 5px rgba(0,0,0,.2);
            background: #F9F9F9;
        }.shopCart:hover{
            border-color: red;
        }
        .shopCart span{
            color: #c81623;
            font-size: 16px;
            margin-right: 16px;
        }
        .shopCart a{
            display: inline-block;
            color :#c81623
        }
        .shopCart .shopCount{
            position: absolute;
            top: 1px;
            left: 29px;
            right: auto;
            display: inline-block;
            padding: 1px 3px;
            font-size: 12px;
            line-height: 12px;
            color: #fff;
            background-color: #e1251b;
            border-radius: 7px;
            min-width: 12px;
            text-align: center;
        }
    

}
.wrap{
    font: 14px/1.5 '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
    height: 110px;
    overflow: hidden;
    position: relative;
}
.crumb-wrap{
    background-color: #f2f2f2;
    .crumb{
        width: $width;
        margin: $margin;
        height: 40px;
        line-height: 40px;
        
    }
}
.w{
    width:$width;
    margin:$margin;
}
.product-info{
    position: relative;
    *z-index: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;

    .preview-wrap{
        width: 352px;
        float: left;
        padding-bottom: 15px;
        background-color: yellow;
        .preview{
            
            .preview-img{
                position: relative;
                width: 350px;
                height: 350px;
                background-color: pink;
                img{
                    width: 100%;
                    height: 100%;
                }
                .i-box{width: 235px;
                    height: 235px;
                    border: 1px solid #CCC;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: rgba(243,210,76,0.5);
                    cursor: move;
                    display: none;
                }
                .search{ width: 30px; height: 30px; position: absolute; right: 0; bottom: 0; background: url("../images/search.png")no-repeat;}
            }
            .list-item{
                margin-top: 10px;
                clear: both;
                overflow: hidden;
                .prev{
                    float: left;
                    width: 22px;
                    height: 32px;
                    background: url(../images/disabled-prev.png);
                     margin-top: 10px;
                }
                div{float: left;
                    li{

                        float: left;
                        margin: 0 5px 0;
                    }
                }
                .next{
                   
                    width: 22px;
                    height: 32px;
                  float: right;
                    margin-top: 
                    10px;
                    background: url(../images/disabled-next.png);
                   
                }
  
                
            }

            .share{
                margin-top: 10px;
            }
        }
    }
    .bigbox{
        width: 545px;height: 545px; overflow: hidden;position: absolute;left: 352px; top:0; border: 1px solid #CCCCCC;
        display: none;
        z-index: 2;
    }
    .iteminfo-wrap{
        width: 590px;
        float: left;
        margin-left: 30px;
        background-color: yellowgreen;
        .sku-name{
            margin-bottom: 5px;
            font: 700 16px Arial,"microsoft yahei";
            color: #666;
            padding-top: 10px;
            line-height: 28px;
        }
        .sekill{
            background: url() no-repeat #fe0851;
            height: 32px;
            line-height: 32px;
            padding: 0 10px;
            font-family: "Microsoft YaHei";
            overflow: hidden;
            zoom: 1;
            .time{
                float: right;
            }
      
        }
        .w{
            padding: 10px 0 0;
            background: #f3f3f3;
            overflow: hidden;
            width: 100%;
            .sekill-price{
                // background-color: yellow;
                overflow: hidden;
                dt{
                    float: left;
                
                }
                dd{
                    float: left;
                    .p-price{
                        font-size: 22px;
                        color: #e4393c;
                    }
                    .o-price{
                        text-decoration: line-through;
                    }
                    .p-notice{
                        color: #005aa0;
                        vertical-align: 2px;
                    }
                    }
                }
                .evaluate{
                    float: right;
                }
                .discounts{
                    overflow: hidden;
                    span{
                        position: relative;
                        float: left;
                    
                    }
                
                }
                .a_style {
                    position: relative;
                    float: left;
                    height: 16px;
                    padding-left: 2px;
                    line-height: 15px;
                    text-align: center;
                    border-top: 1px solid #df3033;
                    border-bottom: 1px solid #df3033;
                    background: #ffdedf;
                    font-size: 14px;
                    white-space: nowrap;
                    margin-right: 13px;
                    cursor: pointer;
                
                    left: 10px;
                    .i_style{
                        padding: 0 10px;
                        color: #df3033;
                        font-size: 12px;
                    }
                }
                .discounts2{
                    overflow: hidden;
                    margin-top: 10px;
                    .rt{
                        width: 426px;
                        margin-left: 70px;
                    }
                    .i_style{
                        padding: 0 5px;
                        color: #df3033;
                        font-size: 12px;
                    }
                    span{
                        letter-spacing: 14px;
                    }
                    a {
                        margin-left: -10px;
                    }
                    b{
                        color: #666;
                        line-height: 18px;
                        padding-left: 3px;
                    }
                }


               
                .font-style{
                    float: left;
                    padding-left: 10px;
                    font-family: simsun;
                    color: #999;
                }

            }
            .distribution{
                padding-top: 10px;
                overflow: hidden;
                .font-style{
                    float: left;
                    padding-left: 10px;
                    font-family: simsun;
                    color: #999;
                }
                select{
                    float: left;
                    position: relative;
                    top: 0;
                    height: 23px;
                    background: #fff;
                    border: 1px solid #CECBCE;
                    padding: 0 24px 0 4px;
                    line-height: 23px;
                    overflow: hidden;
                }
                .store-prompt{
                    margin:0 20px 0 10px;
                    color: #999;
                    height: 24px;
                    float: left;
                    
                }
                    strong {
                        margin-right: 5px;
                        float: left;
                        font-size: 12px;
                    }
                    .w{
                        overflow: hidden;
                        b{
                            color: red;

                            height: 20px;
                        }
                    }
                    
                
                }
            
            }

}
