body{
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: #666;
}
.top-wrap{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
    .top{
        color: #999;
        margin: auto;
        width: 1190px;
    }
}
.header{
    width: 990px;
    margin: 0 auto;
    padding: 10px 0 0;
    .logo-wrap{
        float: left;
        position: relative;
        width: 277px;
        padding: 0;
        height: 50px;
        margin: 15px 0 22px;
        .logo{
            display: block;
            margin-top: 2px;
            width: 134px;
            height: 42px;
            background: url(../images/login-logo.png) ;
            background-size: 134px 42px;
            text-indent: -20000px;
        }
        .link2{
            overflow: hidden;
            display: block;
            position: absolute;
            width: 100px;
            height: 40px;
            line-height: 99em;
            top: 14px;
            right: 38px;
            background: #fff;
            b{
                display: block;
        position: absolute;
        width: 100px;
        height: 40px;
        line-height: 99em;
        top: 0;
        right: 0;
        background: url(../images/scart-title.png) #fff no-repeat;
            }
        }
      
    }
    }
    .search{
        float: right;
        border: 2px solid #c91623;
        background: #c91623;
        height: 24px;
        margin-top: 30px;
        overflow: hidden;
        .search-txt{
            outline: none;
            border: 0;
            height: 18px;
            line-height: 18px;
            width: 260px;
            padding: 3px 5px;
            outline: 0;
        }
        #search-btn{
            display: inline-block;
            margin: 0;
            padding: 0;
            border: 0;
            text-align: center;
            cursor: pointer;
            vertical-align: top;
            width: 48px;
            height: 24px;
            background: #c91623;
            text-align: center;
            color: #fff;
            font-weight: 700;
            -webkit-appearance: none;
        }
   
    }
.container{
    width: 990px;
    margin: 0 auto ;
    .cart-filler{
        margin-top: 10px;
        position: relative;
        .listcount{
            float: left;
            a{
                display: block;
                color: red;
                text-decoration:underline;
                h5{
                    display: inline-block;
                    font-size: 16px;
                    color:rgb(226, 35, 26);
                    font-weight: 700px
                }
                span{
                    display: inline-block;
                    font-size: 16px;
                    color:rgb(226, 35, 26);
                    font-weight: 700px
                }
            }
        }
        .cart-site{
            float: right;
            position: relative;
            z-index: 5;
            *z-index: 3;
            display: block;
            margin-bottom: 10px;
            padding-left: 122px;
           select{
               outline: none;
               padding: 1px;
               border-color: gray;
           }
        }
    }
    .cart-main{
            .cart-thead{
                display: inline-block;
                display: block;
                height: 32px;
                line-height: 32px;
                margin: 0 0 10px;
                padding: 5px 0;
                background: #f3f3f3;
                border: 1px solid #e9e9e9;
                border-top: 0;
                position: relative;
           }
           .shop{
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 11px;
            font-weight: 700;
            }
            .checkbox{
                padding-left: 11px;
                position: absolute;

               input{
                float: none;
                position: relative;
                z-index: 5;
                vertical-align: middle;
                _vertical-align: -1px;
                margin: 0 3px 0 0;
               } 
            }  
        .itemlist{
            position: relative;
            border-style: solid;
            border-width: 2px 1px 1px;
            _border-width: 1px;
            border-color: #aaa #f1f1f1 #f1f1f1;
           
            .list1{
                position: relative;
                padding-bottom: 10px;
                border:  1px solid black;
                .checkbox{
                    position: absolute;
                }
                .discounts{
                    height: 30px;
                    line-height: 30px;
                    text-indent: 50px;
                }
            .cell-info{
                padding-top: 15px;
                margin-left: 40px;
                border-top: 1px solid gray;
                position: relative;
                   
                .cell-img{
                   position: relative;
                    a{
                        display: block;
                        width: 80px;
                        height: 80px;
                        overflow: hidden;
                        
                    }
                    }
                    #cell-img{
                        display: block;
                        width: 80px;
                        height: 80px;
                    }
                }
                .info-words{
                    position: absolute;
                    top: 30px;
                    left: 130px;
                    width: 200px;
                    color: #333;
                    span{
                        width: 58px;
                        height: 16px;
                        background: url(../images/shopcart-icon1.png) no-repeat;
                        overflow: hidden;
                        margin-right: 5px;
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: middle;
                        top: -2px;
                    }
                }
                .info-details{
                    position: absolute;
                    top: 50px;
                    left: 350px;
                }
                .cell-price{
                    position: absolute;
                    top: 55px;
                    right: 350px;
                }
                .cell-count{
                    position: absolute;
                    top: 55px;
                    right: 200px;
                    #numCount{
                        width: 42px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                        padding: 1px;
                        margin: 0;
                        font-size: 12px;
                        font-family: verdana;
                        color: #333;
                        -webkit-appearance: none;
                        // outline: none;
                        border: 1px solid #cacbcb;
                    
                        
                    }
                    .countDown{
                        width: 16px;
                        height: 18px;
                        padding: 1px;
                        float: left;
                        background: #fff;
                        border: 1px solid #cacbcb;
                        border-width: 1px 0 1px 1px;
                        text-align: center;
                    }
                    .countUp{
                        float: right;
                        width: 16px;
                        height: 18px;
                        padding: 1px;
                        background: #fff;
                        border: 1px solid #cacbcb;
                        border-width: 1px 1px 1px 0;
                        text-align: center;
                    }
   
                }
                .cell-sum{
                    position: absolute;
                    top: 55px;
                    right: 120px;
    
                }
                .cell-del{
                    position: absolute;
                    top: 55px;
                    right: 20px;
                }
               
            }
           .cell-clearing{
                position: relative;
                height: 50px;
                bottom: 0px;
                line-height: 50px;
                border: 1px solid gray;
                .operate{
                    float: left;
                    padding-left: 60px;
                    a{
                        margin: 0 5px 0;
                    }
                
                }
                .operate-right{
                    float: right;    
                    height: 50px;
                    .shop-select{
                        float: right;margin-right: 100px;
                        height: 50px;
                    }
                    .shop-sum{
                        float: right;
                        margin-right: 150px;

                        height: 50px;
                    }
                    b{
                        display: block;
                        position: absolute;
                        width: 94px;
                        height: 52px;
                        top: 0;
                        right:0;
                        overflow: hidden;
                        background: url(../images/cart-submit-btn-2019.png) 0 0 no-repeat;
                       cursor: pointer;
                    }
                }
            }
            
        }
          
    }
}