
body {
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: #666;
    background-color: #f4f4f4;
}
.top{
    width: 1190px;
    height: 28px;
    border-bottom: 1px solid #ddd;
    line-height: 28px;
    margin:  0 auto;
    font-size: 14px;
    .location{
        height: 28px;
      
        float: left;
        i{
            font-size: 14px;
            color: #f10215;
            margin-right: 4px;
         }
         span{
            font-size: 14px;
        }
    }
    .info{
        float: right;
        background-color: red; 
    }
}


.header{
    width: 1190px;
    display: block;
    height: 140px;
    margin: 0 auto;
    border-width: 1 0 1 0;
    position: relative;
    margin-bottom: 10px;
    background-color: white;
   
    
}
.logo{
    width:190px;
    height: 120px;
    background-color: rosybrown;
    float: left;margin-top: 10px;
    a{
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/logo.png);
        border-width: 0;
        :hover{
            background-size: initial;
            background: url(../images/logo.gif);
        }
    }
}
.search{
    width: 990px;
    height: 140px;
    margin-left: 10px;
    float: right;
    .form{
        position: absolute;
        left: 220px;
        top: 25px;
        width: 486px;
        height: 32px;
        border: 2px solid #e2231a;
        background: #fff;
        background: transparent;
        
    }
    .search-txt{
        left: 0;
        padding: 2px 44px 2px 17px;
        width: 367px;
        height: 26px;
        border: 1px solid transparent;
        line-height: 26px;
        font-size: 12px;
        position: absolute;
        top: 0;
        outline: none;
        color: #333;
        background: transparent;
       
    }
    i{
        position: absolute;
        width: 19px;
        height: 20px;
        right: 72px;
        top: 5px;
         /* overflow: hidden; */

         >a{
            display:inline-block;
            position: absolute;
            font-size: 15px;
            transform: scale(1.26,1.1);
            color: #666;
            :hover{
                color: red;
            }
        }
     }
     .search_ul{
         width: 430px;
         position: absolute;
         border: 1px solid gray;
         background-color: white;
         z-index: 100;
         top: 35px;
         li{
             height: 30px;
             padding-left: 20px;
             line-height: 30px;
         }
     }

}


.search .btn{
    position: absolute;
    border-radius: 0;
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.search .btn:hover{
    background-color: #c81623;
}
.search .btn span{
    display: inline-block;
    font-size: 20px !important;
    font-weight: 700 !important;
}  
.shopCart{
    width: 130px;
    height: 34px;
    border: 1px solid #eee;
    position: absolute;
    top: 25px;
    left: 730px;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
    padding-bottom: 2px;
    float: left;
}.shopCart:hover{
    border-color: red;
}
.shopCart span{
    color: #c81623;
    font-size: 16px;
    margin-right: 16px;
}
.shopCart a{
    display: inline-block;
    color :#c81623
}
.shopCart .shopCount{
    position: absolute;
    top: 1px;
    left: 29px;
    right: auto;
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
.QR-code{
    display: block;
    position: absolute;
    right: 0px;
    top:5px;
    width: 66px;
    height: 66px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    padding: 5px;
    
}
.QR-code img{
    display: block;
    width: 100%;
    height: 100%;
}
.hotwords{
    overflow: hidden;
    position: absolute;
    left: 220px;
    width: 450px;
    top: 65px;
    height: 20px;
    line-height: 20px;
}
.hotwords a{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
    float: left;
}

.hotwords a:first-child{
    color:#e1251b;
}
.hotwords a:hover{
    color: #e1251b;
}
.navitems-group1{
    float: left;
    bottom: 0;
    position: absolute;
}
.navitems-group1 li{
    float: left;
    margin-left: 1px;
}.navitems-group1>li>a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
#redfont{
    color: red;
    font-weight: 700;
}
.navitems-group1 li>a:hover{
    color: #c81623;
}
.content{
    width: 1190px;
    margin:0 auto;
    margin-top: 10px;
    overflow: hidden;
}
.cate{
    position: relative;
}
.cate-menu{
    width: 190px;
    height: 450px;
    background-color: greenyellow;
    float: left;
    padding: 10px 0;
    overflow: hidden;
  
  
}
.cate-menu li{
    height: 25px;
    line-height: 25px;
    padding-left: 18px;
    
}
.cate-menu .cate-menu-lk{
    font-size: 14px;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;

}
.cate-menu>li>a:hover{
    color: red;
}
.cate-menu-on{
    background-color: #d9d9d9;
}
.cate-part{
    width: 998px;
    min-height: 450px;
    display:none;
    position: absolute;
    right: 0;
    box-shadow: 1px 1px 2px gray,1px 1px 2px gray inset;
    background-color: burlywood;
    z-index: 2;
    padding: 20px 0 10px 0;
    top: 0;

}
.banner{
    width: 590px;
    height: 470px;
    background-color: yellow;
   float: left;
   margin: 0 10px;
}
.banner .swiper-container, img{
    width: 100%;
    height: 100%;
}
.advertise{
    width: 190px;
    height: 470px;
    float: left;
}
.advertise a{
    display: block;
    height: 150px;
    margin-bottom: 10px;
}
.advertise a>img{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}
.user{
    width: 190px;
    height: 470px;
    background-color: white;
    float: right;
    overflow: hidden;
}
.user dl{
    display: block;
    height: 47px;
    padding-top: 20px;
}
.user dl dt{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../images/user.png);
    background-size: 100%;
    float: left;
    color: #666;
    margin-left: 20px;
}
.user dl dd{
    margin-left: 10px;
    display: block;
    float: left;
    color: #333;
    line-height: 20px;
}
.user dl dd span{
    display: inline-block;
    margin: 0 3px;
}
.user-button{
    height:35px ;
    margin-left: 15px;
    position: relative;
}
.user-button a{
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background: #e1251b;
    float: left;
}
.user-button a:nth-child(1):hover{
    background-color: #c81623;
    color: #fff;
}
.user-button a:nth-child(2){
    background: #363634;
    color: #e5d790;
}
.user-button a:nth-child(2):hover{
    background-color: #c81623;
    color: #fff;
}
.user-button::after{
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: -webkit-gradient(linear,right top,left top,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: " ";
    bottom: 0;
}
.news{
  
    padding-top: 10px;
}
.news-title{
    color: #333;
    height: 20px;
    padding: 0 15px;
    margin-bottom: 8px;

}
.news .news-title h5{
    font-size: 14px;
    float: left;
}
.news .news-title a{
    float: right;
}
.news-list{
    position: relative;
    margin: 0 15px;
    height: 88px;
    padding-bottom: 4px;
}
.news-list .news-item{
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    /* 文字超出显示... */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
    float: left;
}
.news-list .news-item .news-tag{
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}
.news-list::after{
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: -webkit-gradient(linear,right top,left top,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: " ";
    z-index: 3;
    bottom: 0;
}
// 楼层跳跃
.asider_list{
    position: absolute;
   top: 720px;
  left:50%;
  margin-left:610px;
  ul{
      li{
          width: 58px;
          height:58px;
          a{
            position: relative;
            display: block;
            width: 38px;
            height: 38px;
            line-height: 19px;
            font-size: 14px;
            color: #333;
            padding: 10px;
            text-align: center;
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
            background: #fff;
            z-index: 1;
            &:hover{
                color:white;
                background-color: red;
            }
          }
      }
      .last_li{
          display: none;
      }
      .current{
          display: block;
      }
  }

}
.seckill{
    height: 260px;
    margin-top: 30px;
    background-color: #fff;
    position: relative;
   
}

.seckill aside{
    width: 190px;
    height: 260px;
    background-color: #e83632;
    float: left;
    text-align: center;
    position: relative;
}
.seckill aside h2{
    color: white;
    font-size: 30px;
    margin: 30px 0 0;
}
.seckill aside .desc{
        color: white;
        font-size: 14px;
        margin: 90px 0 0;
}
.seckill aside .timmer{   
    margin-left: 25px;
   margin-top: 20px;
   color: white;
   font-size: 20px;
}
.seckill aside .timmer span{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 10px;
    color: white;
    font-size: 20px;
}
.seckill aside .timmer em{
    position: relative;
    float: left;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.seckill-banner{
    position: relative;
    width: 800px;
    height: 260px;
    float: left;
    .banner3{
        width: 100%;
        height: 100%;
    }
    .slider {
        a {
            width: 199.997px;
            float: left;
            position: relative;
            height: 260px;
            .wrap{
                width: 140px;
                height: 140px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                img{
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                }
               
            }
             .seckill_item_price{
                    border: 1px solid #e1251b;
                    position: relative;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    line-height: 24px;
                    overflow: hidden;
                    background-color: #e1251b;
                    width: 160px;
                    height: 24px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 7px;
                    .item1{
                        width: 92px;
                        height: 100%;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 22px;
                        float: left;
                        ::before{

                            content: " ";
                            width: 0;
                            height: 0;
                            border-color: transparent white transparent transparent;
                            border-style: solid;
                            border-width: 22px 8px 0 0;
                            position: absolute;
                            top: 0;
                            left: 84px;
                        }
                    }
                    .item2{
                        height: 100%;
                        width: 66px;
                        float: right;
                        background: #fff;
                        text-align: center;
                        color: #999;
                        font-size: 12px;
                        line-height: 22px;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        text-decoration: line-through;
                        ::after{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 1px;
                            height: 200px;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            background: -webkit-gradient(linear,left top,left bottom,from(white),color-stop(#eeeeee),to(white));
                            background: linear-gradient(180deg,white,#eeeeee,white);
                        }
                    
                    }
                }
            h6{

                font-size: 12px;
                font-weight: 400;
                color: #333;
                -webkit-transition: color .2s ease;
                transition: color .2s ease;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 160px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 13px;
            }
            
        }
    }
   
}

.seckill section{
    width: 200px;
    height: 260px;
    float: left;
    background-color:rgb(245, 241, 241);
    .banner4{
        width: 100%;
        height: 100%;
        .item_img{
            width: 120px;
            height: 120px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .item_a{
            width: 100%;
            height: 90px;
            margin-top: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            
            a{
                        color: #e1251b;
                border-radius: 14px;
                width: 82px;
                height: 24px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-align: center;
                display: inline-block;
                line-height: 22px;
                font-weight: 700;
                padding-left: 4px;
                font-size: 12px;
                border: 1px solid #e1251b;
                margin-top: 4px;
                -webkit-transition: background-color .2s ease;
                transition: background-color .2s ease;
               
            }
            :hover {
                background-color:#e1251b ;
                color: white;
            }
           
        }
        

    }
}
.button-prev{
    width: 25px !important;
    height: 25px !important;
    background-color: #00000030 !important;
    left: 0 !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  
}
.button-prev:hover{
    background-color: #00000070 !important;
}
.button-next{
      width: 25px !important;
    height: 25px !important;
    background-color: #00000030 !important;
    right: 0 !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.button-next:hover{
    background-color: #00000070 !important;
}
.swiper-button-white{
    height: 23px!important;
    margin-top: -12px!important;
}
/* 特价 */

.special_price{
    position: relative;
    width: 590px;
    height: 345px;
    margin-top: 20px;
    float: left;
    background-color: white;
    .price-title{
        height: 60px;
        padding: 0px 20px;
        line-height: 60px;
    }
    .active{
        display: block !important;
    }
}
/* 清楚浮动 */

.special_price .price-title h3{
    float: left;
    font-weight: 700;
    font-size: 24px;
    color: #333;
    line-height: 60px;
}
.special_price .price-title ul{
    float: right;
}
.special_price .price-title ul a{
    display: inline-block;
    margin: 0 13.5px;
    cursor: pointer;
}
.special_price .price-title ul a:last-child{
   margin-right: 0;
}
.special_price .price-title ul a:hover{
    text-decoration: underline;
    color: red;
} 
.special_price .price-main {
    display: none;
    position: absolute;
    padding: 10px;
    overflow:hidden;
}
 .price-main .main_left{
     float: left;
     width: 146px;
     height: 235px;
     background-color: rgba(109,126,146,.05);
 }
 .price-main .main_left p{
     width: 90px;
     height: 24px;
     background-color: orange;
     color: white;
     text-align: center;
 }
 .main_left_img{
    margin: 30px  0 0 20px;
    font-size: 14px;
 }
 .main_left_img img{
     width: 100px;
     height: 100px;
     display: block;
     margin-bottom: 10px;
 }
 .main_left_img h3{
     font-size: 18px;
     color: red;
     font-weight: 700px !important;
 }
 .main_right{
    /* width: 320px; */
    width: 420px;
     float: right;
     height: 235px;
 }
.main_right_top{
    padding: 0 10px;
}
.right_top1{
    float: left;
    padding-top: 10px;
    margin-left: 20px;
}
.right_top1 img{
    display: block;
    width: 74px;
    width: 84px;
    height: 74px;
    margin-right: 5px;
}

.right_top1 dt,dd{
    float: left;
}
.right_top1 dd{
    width: 80px;
}
.top1_name{
    width: 66px;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.right_top1 p{
    text-decoration: line-through;
}
.right_top1 em{
    color: red;
}
.price-main2{
    display: none;
    position: absolute;
}

.Lightning_Deals{
    width: 590px;
    height: 345px;
    background-color: khaki;
    margin-top: 20px;
    float: right;
    overflow: hidden;
    position: relative;
}
.Lightning_left{
    width: 220px;
    height: 240px;
   position: absolute;
   left: 20px;
   top: 70px;
   float: left;
}
.lighting_right{
    position: absolute;
    right: 20px;
    top: 70px;
    width: 260px;
}
.lighting_right dl{
    width:120px;
    float: right;
   margin-right: 10px;
    margin-bottom: 10px;
}
.lightning_right dt{
    width: 100px;
    height: 50px;
}
.lighting_right img{
    width: 100px;
    height: 50px;
    display: block;
}
.lighting_right dd{
    margin-top: 6px;
}
/* 发现好货 */
.discover{
    margin-top: 20px;
    background-color: white;
}
.discover::after{
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.discover aside{
    width: 190px;
    height: 260px;
    background-color: paleturquoise;
    margin-right: 10px;
    float: left;
}
.discover .lunbo{
    width: 990px;
    height: 260px;
    float: right;
   .banner5{
       position: relative;
    .lunbo_top{
        float: left;
        display: block;
        margin:35px 20px 0;
        img{
            width: 150px;
            height: 150px;
            display: block;
        }
        dt{
            margin-bottom: 10px;
        }
    }
   }
}

/* 新品首发 */
.box-list{
    margin-top: 20px;
    margin-bottom: 20px;
   
    li {
        float: left;
        width: 290px;
        height: 320px;
        margin: 0 10px 0 0;
        background-color: white;
 
        overflow: hidden;
        
    }
    .li1_title{
        position: relative;
        float: left;
        font-weight: 700;
        font-size: 24px;
        color: #333;
        line-height: 32px;
        padding:10px 20px;
        width: 100%;
    }
    .list_wrap{
        position: relative;
        width: 260px;
        height: 250px;
        margin: 0 auto;
        top:0px;
        overflow: hidden;
        a{
            img{
                display: inline-block;
                width: 130px;
                height: 130px;
                margin-top: 10px;
                margin-left: 60px;
            }
            p{
                margin-top: 20px;
                margin-bottom: 5px;
                position: relative;
                width: 200px;
                left: 35px;
                line-height: 19px;
                font-size: 14px;
                color: #333;
                -webkit-transition: color .2s ease;
                transition: color .2s ease;
                font-family: Microsoft Yahei,PingFangSC-Medium,sans-serif,serif;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    color: red;
                }
            }

            span{
                display: block;
                position: relative;
                width: 200px;
                left: 50px;
                line-height: 19px;
                font-size: 14px;
                color: #333;
                -webkit-transition: color .2s ease;
                transition: color .2s ease;
                font-family: Microsoft Yahei,PingFangSC-Medium,sans-serif,serif;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 20px;
             
            }
            b{
                margin-top: 20px;
                font-family: Arial-BoldMT,Microsoft Yahei,PingFangSC-Medium,sans-serif,serif;
                font-size: 18px;
                color: #e1251b;
                letter-spacing: 0;
                margin-left: 60px;
            }
        }
    }
    .box-li2{
        overflow: hidden;
        .li2_wrap{
            position: relative;
            ol{
                a{
                    display: inline-block;
                    max-width: 70px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #999;
                    font-size: 12px;
                    background-color: #f6f6f6;
                    height: 20px;
                    line-height: 20px;
                    margin: 0 4px;
                    width: 62px;
                    text-align: center;
                    border-radius: 12px;
                    font-family: Microsoft Yahei,PingFangSC-Medium,sans-serif,serif;
                
                    &:hover{
                    background-color: #e1251b;
                    color: #fff;
                }
            }
        }
        .li2_img_wrap{
            position: absolute;
            left: 10px;
            right: 10px;
            height: 230px;
            p{
                 color: white;   
                width: 40px;
                height: 60px;
                background-color: rgb(223, 180, 102);
                text-align: center;
                margin-bottom: 10px;line-height: 20px;
                font-size: 18px;
                span{
                    color: #e6ac36;
                    font-size: 
                    14px;
                }
            }
            
            .li2_tab{
                display: none;
                width: 220px;
                position: absolute;
                right: 0;
                top: 0;

                a{
                    display: block;
                    overflow: hidden;
                    img{
                        width: 70px;
                        height: 70px;
                        float: left;
                    }
                    span{
                        display: inline-block;
                        width: 140px;
                        display: -webkit-box;
                        overflow: hidden;
                        white-space: normal !important;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        float: right;
                        margin-top: 10px;
                        
                    }

                }
            }
            .tab_active{
                display: block ;
            }
            

        }
    }}
    .box-li3{
        .li3_wrap{
            margin-top: 20px;
            padding: 0 15px;
            overflow: hidden;
            background-color: rgb(222, 247, 212);
            overflow: hidden;
            a{
                display: inline-block;
                float: left;
                width: 120PX;
                margin-top: 17px;
                margin-bottom: 9px;
                font-size: 14px;
                margin-left: 10px;
              
                .item_title{

                    width: 120px;
                    max-height: 32px;
                    line-height: 1.2em;
                    font-size: 12px;
                    color: #333;
                    margin-bottom: 5px;
                }
                .item-tag{
                    margin-top: 4px;
                    margin-bottom: 10px;
                    span{

                        width: 120PX;
                        border: 1px solid red;
                        padding:0 3px;
                    }
                    em{
                        border: 1px solid #596FAB;
                        padding:0 3px ;
                    }
                }
                .social{
                   color: #999;
                }
            }

            .li3_img_wrap{
                padding: 3PX;
                float: right;
                background-color: white;
                margin-top: 15px;
                margin-right: 5px;
                cursor: pointer;
                img{
                    width: 75px;
                    height: 75px;
                }
                
            }
        }
    }
    .box-li4{
        position: relative;
        .li4_wrap{
            position: absolute;
            height: 280px;
            background-color: greenyellow;bottom: 0;
            left: 15px;
            right: 15px;
            margin:  0 auto;
            
            dl{
                overflow: hidden;
                margin-bottom: 10px;
                position: relative;
                dt{
                    width: 66px;
                    height:66px;
                    border-radius: 50%;
                    float: left;
                    margin: 10px 0 0 10px;
                    img{
                        width: 50px;
                        height: 50px;
                    }
                   
                }
                &:nth-child(2){
                    border: 1px dotted red;
                    border-width: 2px 0;
                    padding: 10px 0;
                }
                dd{
                    left: right;
                    .li4_price{
                        color: #e33333;
                        span{
                            font-size: 28px;
                            font-weight: 700;line-height: 32px;
                        }
                       
                    }
                    .li4_item2{
                        color: #999;
                    }
                    .li4_item3{
                        width: 140px;
                        color:#333;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .li4_right{
                        width: 15px;
                        position: absolute;
                        right: 5px;top: 5px;
                        color: #666;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    
}

.box-list .box-li4{
    margin-right: 0 ;
}

/* 响应式 */
@media screen and (max-width: 1300px) {
    body {
    }
    .content, .header, .top,.copyright,.footer .mod_service,.footer .fl{
        width: 990px !important;
    }
    .header .search{
        width: 790px;
    }
    .advertise{
        display: none;
    }
    .seckill-banner{
        width: 600px !important;
    }
    .content .special_price,.content .Lightning_Deals{
        width: 490px !important;
    }
    .discover .lunbo{
        width:790px ;
    }
    .box-list li{
        width: 240px;
    }
    .main_right{
         width: 320px; 
        //  margin-left: 5px;
        .right_top1{
           margin-left: -5px;
        }

      
     }
    .main_right_top{
        padding: 0 10px;
    }
    .right_top1{
        float: left;
        padding-top: 10px;
        
    }
    .right_top1 img{
        display: block;
        width: 74px;
        height: 74px;
        margin-right: 5px;
    }
    
    .right_top1 dd{
        width: 70px;
    }
    .discover .lunbo .banner5 .lunbo_top{
        margin: 35px 5px 0;
        img{
            width: 140px;
            height: 140px;
        }
    }
    .box-list .box-li3{
        .li3_wrap{
            a{
                width: 90px;
                .item_title{
                   width: 90px;
                }
                .item-tag{
                    em{
                        display: none;
                    }
                }
                .social{
                    font-size: 12px;
                }
                
            }
        }
    }
    .box-list .box-li4{
        .li4_wrap{
            dl{
                dt{
                    display: none;
                    img{

                    }
                }
                dd{

                }
            }
        }
    }
    .asider_list{
     left: 42%;
    
    }
   .cate-part{
       width: 600px;
       left:200px ;

   }
}


.footer .mod_service{
    width: 1190px;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
    
}
.mod_service_list{
  
    display: flex;
   align-items: center;
  justify-content: space-around;

  position: relative;
}
.mod_service_list li{
    position: relative;
}

.footer_icon {
    background: url(../images/footer_ico.png);
    position: absolute;
    top: 0;
   left: -40px;
    width: 36px;
    height: 43px;
}
.footer .icon2 {
    background: url(../images/footer_ico.png) 36px;
}
.footer .icon3 {
    background: url(../images/footer_ico.png) 78px;
}
.footer .icon4 {
    background: url(../images/footer_ico.png) 119px;
}
.mod_service_list li span{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}

.wrap_help{
    border-top: 1px solid black;
    .fl{
        width: 1190px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        a{
            color: #666;
            width: 192px;
            float: left;
        }
        dt{
            font-size: 14px;
            color: black; 
        }
        .dl{
            color: #666;
            width: 192px;
            float: left;
        }
    }
}
 a{

 }

.footer .fl 
// .fl>dl,a{
//      width:192px;
//     float:left;
// }

.coverage{
    width: 180px;
    float: right;
}

.coverage h5{
    font-size: 14px;
    margin: 0 0 15px;
}
.copyright{
    width: 1190px;
    margin: 0 auto;
    border-top: 1px solid ;
    padding-top: 15px;
}
.copyright p {
    text-align: center;
}
.copyright p a{
    display: inline-block;
   padding:  0 10px;
}
.wrap{
    border-top: 1px solid #666;
}
.register, .register a{
    color: gray;
}
.swiper-button-white{
    background-color: #000000;
    opacity: 0.3;
    border-radius: 50%;
}
.prev_btn6{
    position: absolute;
    left: 0 !important;
}
.next_btn6{
    position: absolute;
    right: 0 !important;
}