*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a,u{
    text-decoration: none;
    color: black;
}
b,strong{
    font-weight: normal;
}
a:hover{
    color:  #c81623;
}
i,em{
    font-style: normal;
}

ul {
    display: block;                 
}
.clearfloat::after{
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.img-max{
    display: block;
    width: 100%;
    height: 100%;
}